<div class="container card-space">
  <div class="card">
    <h3 class="card-header script">
      About
    </h3>
    <div class="card-block">
      <p>
        Differential Eq is purposed to bringing you tools to use in the differential equations classroom.
        A typical undergraduate course on Differential Equations covers 1st order linear systems like
        <span [myMathJax]="xprimeEqAx"></span>. <br /> <br />

        At the time of writing the initial version of DirectionField, there were no packages
        for Swift that computed eigenvectors. As a result we were limited in our scope to simple expressions where <span [myMathJax]="A"></span> was
        <span [myMathJax]="twoxtwo"></span>. As packages like <a href="https://github.com/AlexanderTar/LASwift">Alexander Taraymovich's LASwift</a> become more mature,
        we will likely adopt them to utilize true Linear Agebra routines to calculate <span [myMathJax]="xprimeEqAx"></span> in a higher dimensional space.
      </p>
    </div>
  </div>
</div>
