<div class="container card-space">
  <div class="card">
    <h3 class="card-header script">
      Welcome
    </h3>
    <div class="card-block">
      Differential Eq brings you DirectionField, the app for plotting solutions to functions of the type
      <span [myMathJax]="xprimeEqAx"></span>
        where <span [myMathJax]="x"></span> and <span [myMathJax]="xprime"></span> are vectors in <span [myMathJax]="R2"></span> and <span [myMathJax]="A"></span> is a <span [myMathJax]="twoxtwo"></span> matrix with elements in <span [myMathJax]="R"></span>.<br />
        The eigenvectors do not necessarily have to be real-valued, in fact, it is quite interesting when they are not real.<br />
        <p>
          &nbsp;
        </p>
        <p>
          If you'd like to download the app and test it out...<br />
        </p>
        <p>
          The Apple Store iOS version is here:<a href="https://itunes.apple.com/us/app/directionfield/id1073326436?mt=8"><img src="/img/Download_Apple.svg" /></a><br />
          And the Android Play store version is here: <a href="https://play.google.com/store/apps/details?id=com.differentialeq.directionfield&hl=en"><img src="/img/google-play-badge.png" style="width: 175px;" /></a>
        </p>
    </div>
  </div>
</div>
